.barrelsLevel3 {
    display: flex;
    flex-wrap: wrap;
    min-width: 222px;
    justify-content: center;
    flex-direction: row-reverse;
    width: 222px;
    position: absolute;
    bottom: 20%;
    left: 100%;
} 