.browser{
    display: flex;
    flex-wrap: wrap;
    min-width:350px;
    justify-content: center;
    flex-direction: row-reverse;
    width: 350px;
    position: absolute;
    bottom:20%;
    left:100%;
}

body {
    margin: 0%;
}
    
.levels-bg {
    background-image: url('level-bg.jpg');
    min-height:869px;
    animation: bgAnim 4s linear infinite;
    position:relative;
    background-size: auto 100%;
}
    
@keyframes bgAnim{
    0%{
        background-position: -0px;
    }
    100%{
        background-position: -1391px;
    }        
}
    
.level-image{
    width: 150px;
    margin-left: auto ;
}
    
.monkey-diamond{
    position: absolute;
    width: 275px;
    bottom: 20%;
}
    
.jump{
    animation: jumpAnim 2000ms;
}
    
@keyframes jumpAnim{
    25%{
        bottom:20%;
    }
    50%{
        bottom:70%;
    }
    75%{
        bottom:70%;
    }
    100%{
        bottom: 20%;
    }
}
    
    
.moving{
    animation: moveAnim 3000ms linear;
}
@keyframes moveAnim{
    100%{
        transform: rotate(00deg);
        left: -20%;
    }
}