.levels-bg {
    background-image: url(bg-level-01.png);
    min-height:300pt;

    animation: bgAnim 2s linear infinite;
}

@keyframes bgAnim{
    0%{
        background-position: -0px;
    }
    100%{
        background-position: -576px;
    }
    
}

.level-image{
    width: 150px;
    margin-left: auto ;
}

.monkey{
    margin-top: 100pt;
}

.barrel-1{
    float: right;
    margin-top: 125pt;

}