.barrelsLevel4{
    display: flex;
    flex-wrap: wrap;
    min-width:400px;
    justify-content: center;
    flex-direction: row-reverse;
    width: 400px;
    position: absolute;
    bottom:20%;
    left:100%;
}