.barrelsLevel2{
    display: flex;
    flex-wrap: wrap;
    min-width: 175px;
    justify-content: center;
    flex-direction: row-reverse;
    width: 175px;
    position: absolute;
    bottom: 20%;
    left: 100%;
}