body{


}

.story{
 
    font-family: 'Red Hat Mono', monospace;  
}

.title{

    font-family: 'Nanum Gothic', sans-serif;
  


} 

.img{
width: 400px ;
}

.intro{
 
    font-family: 'Red Hat Mono', monospace;  
}

.level-image{
    width: 150px;
    margin-left: auto ;
}

.color{

    background-color: lightgreen;

}

.index{

background-color: aquamarine;

}

.why {


background-color: skyblue;


}